<div class="row">
	<div class="col-9">
		<%= render 'layouts/messages' %>
	</div>
</div>

<% if @friends %>
	<div class="card card-header search-display">
		<table class="col-md-12">
			<tbody>
				<% @friends.each do |friend| %>
				<tr>
						<td><strong>Email: </strong><%= friend.email %></td>
						<td><strong>Name: </strong><%= friend.full_name %></td>
						<% if current_user.not_friends_with(friend.id) %>
							<td><%= link_to "Follow", friendships_path(friend: friend), class: "btn btn-sm btn-success ml-3", method: :post %> </td>
						<% else %>
							<td><span class="badge badge-secondary ml-3">Following</span></td>
						<% end %>
						<td><%= link_to "View profile", user_path(friend), class: "btn btn-sm btn-primary ml-3", method: :post %></td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>